<html>
    <head>
        <title>My first page</title>
        <style>
            body{
                background: linear-gradient(to right,#193B52,#C70039)
            }
            p{
                color:aquamarine;
                font-size: 30px;
                font-style: italic;
                font-family: Arial, Helvetica, sans-serif;
            }
            h1{
                color:brown;
            }
        </style>
    </head>
    <body>
        {% include "app1/header.html" %}
        {% block head %}
        {% endblock %}
        {% if error %}
        <h1 style="color: red">{{ error }}</h1>
        {% endif %}
        <form method="POST" action="/app1/login1/">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="LOGIN">
        </form>
    </body>
</html>