<html>
    <head>
        <title>This is header</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='abc.css') }}">
    </head>
    <body style="background-color: coral;">
        <div class='main'>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="/">LOGIN</a></li>
                <li><a href="/signup">SIGNUP</a></li>
                <li><a href="/hello/">HELLO</a></li>
            </ul>
        </div>
        <div class='f'>
            {% if error %}
            <h1 style="color:red">{{ error }}</h1>
            {% endif %}
            <form method="POST" action="/signup1/">
                <table>
                    <tr>
                        <td>Enter your email</td>
                        <td><input type="email" name='email'></td>
                    </tr>
                    <tr>
                        <td>Enter your username</td>
                        <td><input type="text" name='user'></td>
                    </tr>
                    <tr>
                        <td>Enter your password</td>
                        <td><input type="password" name='pass'></td>
                    </tr>
                    <tr>
                        <td>Enter your password again</td>
                        <td><input type="password" name='cpass'></td>
                    </tr>
                    <tr>
                        <td>Enter your profile</td>
                        <td><input type="file" name='myfile'></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="SIGNUP"></td>
                    </tr>
                </table>
            </form>
        </div>