.abc{
    background-image: url('images/one.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
}

.main li{
    display: inline-block
}
.main {
    float : right;
    margin-top: 20px;
}
a {
    font-size: 30px;
    font-style: italic;
    color: black;
}
.login {
	padding-top : 170px;
}
label {
    text-decoration-color: indianred;
}
input {
    padding: 5px;
}
