body{
    background-color: coral;
}

.main li{
    display: inline-block
}
.main {
    float : right;
    padding-top: 20px;
}
a {
    font-size: 30px;
    font-style: italic;
    color: black;
}
li {
    padding-left: 20px;
}
form {
    margin-top :170px;
}